.pagination-container {
	display: flex;
	justify-content: flex-end;
}
.pagination-container a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #808080;
	width: 21px;
	height: 25px;
	text-decoration: none;
	transition: background-color .2s;
	cursor: pointer;
}
.pagination-container a.active {
	color: #FFFFFF;
	background-color: #0064EB;
	border-radius: 4px;
}
.pagination-container a.disabled {
	width: 7.12px;
	height: 11.41px;
	opacity: 0.2;
	margin: 0 16px;
}
.pagination-container a:hover:not(.active) {
	background-color: rgba(238, 238, 238);
}