.initial-section {
	margin: 0 auto;
	max-width: 1366px;
	min-width: 320px;
	width: 100%;
}
.initial-container {
	max-width: 210px;
	margin: 200px auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.initial-description {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 22px;
	line-height: 140%;
	text-align: center;
	color: #808080;
}
