.header {
  margin: 0 auto;
  /* max-width: 1366px; */
  min-width: 340px;
  width: 100%;
  height: 72px;
  background-color: #0064eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 16px 21.98px 16px 41px;
}
.form-control {
  width: 500px;
  height: 40px;
  margin-right: auto;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
}
.search {
  padding: 8px 5px 8px 14px;
}
.input {
  border: none;
  background-color: #f9f9f9;
  outline: none;
  width: 100%;
}
.input::placeholder {
  color: #808080;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  width: 256px;
}

@media (max-width: 768px) {
  .form-control {
    max-width: 320px;
  }
}
@media (max-width: 460px) {
  .form-control {
    max-width: 220px;
  }
}
@media (max-width: 340px) {
  .logo {
    padding-left: 20px;
  }
}
